<!--
Author: Shianne Marbley
File: form.html
Description: This is the form html that people will
fill out their information  and submit
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset ="utf-8">
        <style>
            .formPage{
                color: rgb(145, 141, 141);
                text-decoration: underline;
                text-align: center;
            }
            .forms{
                font-size: 20px;
            }
            body{
                background-color: rgb(210, 231, 246);
            }

        </style>

    </head>
    <body>
        <h1 class="formPage">Edit Record Form</h1>
        {%for user in data%}
        <form method="POST">
            <h2 name="name" placeholder="Name">{{ request.form['name'] or user['name']}}</h2><br>

            <label>Enter ID:</label>
            <input type="text" name="ID" placeholder="Enter New ID"
            value="{{ request.form['ID'] or user['ID']}}"></input><br>

            <label>Enter Points :</label>
            <input type="text" name="Points" placeholder="Enter New Points"
            value="{{ request.form['Points'] or user['Points']}}"></input><br>

            <button type="submit">Submit Changes</button>
            <button class="btn" type="button" onclick="window.location.href='/';">Back Home</button>
        </form>
        <!--{%endfor%}-->
    </body>
</html>