<!--
Author: Shianne Marbley
File: form.html
Description: This is the form html that people will
fill out their information  and submit
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset ="utf-8">
        <style>
            .formPage{
                color: rgb(145, 141, 141);
                text-decoration: underline;
                text-align: center;
            }
            .forms{
                font-size: 20px;
            }
            body{
                background-color: rgb(210, 231, 246);
            }

        </style>

    </head>
    <body>
        <h1 class="formPage">Edit Record Form</h1>
        {%for d in data%}
        <form action="{{ url_for('editInfo') }}" method="POST">
            <h2 style="color:blue">Row #: {{d[0]}}</h2><br>
            <input type="hidden" name="rowid" value="{{ d[0] }}">
            Enter Name: <input type="text" name="name" value="{{d[1]}}" /><br>

            Enter ID: <input type="text" name="ID" value="{{d[2]}}" /><br>

            Enter Points: <input type="text" name="Points" value="{{d[3]}}" /><br>

            <input type="submit" value="Submit Changes" />
            <button class="btn" type="button" onclick="window.location.href='/';">Back Home</button>
        </form>
        {% endfor %}
    </body>
</html>