<!--
Author: Shianne Marbley
File: form.html
Description: This is the form html that people will
fill out their information  and submit
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset ="utf-8">
        <style>
            .formPage{
                color: rgb(145, 141, 141);
                text-decoration: underline;
                text-align: center;
            }
            .forms{
                font-size: 20px;
            }

        </style>

    </head>
    <body>
        <h1 class="formPage">Form Page</h1>
        <form class="forms" method="POST">
            <label>Enter Name:</label>
            <input type="text" name="name" placeholder="Enter name" required><br/>
            <label>Enter ID:</label>
            <input type="text" name="ID" placeholder="Enter ID" required><br/>
            <label>Enter Points :</label>
            <input type="text" name="Points" placeholder="Enter Points" required><br/>
            <input type = "submit" value="submit"/><br>
        </form>

    </body>
</html>